@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';
@import '~bootstrap/scss/bootstrap';

.card{
    margin-top: 40px;
}
.card__views{
    max-height: 500px;
    overflow: auto;
}